tensorflow==2.15.0
streamlit==1.58.0

pandas
numpy
scikit-learn
matplotlib
keras

python-dotenv
ipykernel

langchain==0.3.27
langchain-core==0.3.75
langchain-community==0.3.27
langchain-text-splitters
langchain-openai
langchain-groq==0.3.8
langchain_huggingface
langchain_chroma

openai

chromadb
faiss-cpu
sentence_transformers

huggingface_hub

duckdb

pypdf
pymupdf
bs4
unstructured

arxiv
wikipedia

duckduckgo_search==5.3.1b1

mysql-connector-python
SQLAlchemy

validators==0.35.0

youtube-transcript-api==1.2.4

pytube==15.0.0

numexpr
