tensorflow==2.15.0
pandas
numpy
scikit-learn
matplotlib
streamlit
keras
langchain==0.3.27
python-dotenv
ipykernel
langchain-community==0.3.27
langchain-core==0.3.75
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
openai
langchain-groq==0.3.8
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api==0.6.2
unstructured
pytube==15.0.0
numexpr
huggingface_hub 